@media screen and (min-width: 480px){
  body {
    background-color: floralwhite;
  }
  img {
    border-radius: 200px;
  }
}

* { 
  font-family: 'Overpass', sans-serif;
  
}
header, li {
  text-align: center;
  text-decoration: none; 
  list-style-type: none;
  color: navy; 
  background-color: Salmon; 
}
header h1 {
  font-size: 2.5em;
}
body { 
  background-color: FloralWhite; 
  Color: black; 
}

#navlist li {
display: inline;
padding-right: 20px;
}
