@media screen and (min-width: 480px){
  /*this will contain customizations i make to a tiny screen*/
  }
}

* { 
  font-family: 'Overpass', sans-serif;

}
body h2 { 
  background-color: FloralWhite; 
  Color: navy; 
}

/* #navlist ul li {
  list-style-type: none;
  display: inline;
  padding-right: 20px;
  
  
}
header, #navlist {
  text-align: center;
  text-decoration: none; 
  color: navy; 
  background-color: Salmon; 
}
header h1 {
  font-size: 2.5em;
}
*/


