@media screen and (min-width: 480px){
  body {
    background-color: floralwhite;
  }
  img {
    border-radius: 200px;
  }
}

* { font-family: 'Overpass', sans-serif;
}
header, nav, ul {
  text-align: center;
  text-decoration: none; 
  list-style-type: none;
  color: navy; 
  background-color: Salmon; 
}
body { 
  background-color: FloralWhite; 
  Color: black; 
}

#navlist li {
display: inline;
list-style-type: none;
padding-right: 20px;
}
