/*this is the format for css:
selector{
property: value;
}
*/

header h1 {
  color: #800080;
  font-family: Arial, san-serif; 
  font-size: 2.5em; 
}

header {
  background: url('https://static.pexels.com/photos/6675/flight-mountains-sky-flying.jpeg');
  width: 100%;
  padding: 50px;
  text-align: center;
  background-size: cover;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    width: 100%;
}

nav ul li {
    text-align: center;
}

nav ul li a {
    display: inline;
    color: #800080;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

nav ul li a:hover {
    color: purple;
}

nav ul li a.active {
    color: #800080;
    background-color: #4CAF50;
}
