/*this is the format for css:
selector{
property: value;
}
*/

header h1 {
  color: #800080;
  font-family: Arial, san-serif; 
}

header {
  background: url('https://static.pexels.com/photos/6675/flight-mountains-sky-flying.jpeg');
  width: 100%;
  padding: 25px;
  text-align: center;
}
  
